<script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        const msg= new URL(location.href).searchParams.get('error');
        if(msg==="exist"){
            alert("이미 존재하는 ID입니다.");
        }
        
        else{
            alert(msg);
        }

      }
    };
  </script>
    </body>
</html>