<script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        const msg= new URL(location.href).searchParams.get('error');
        if(msg==="exist"){
            alert("이미 존재하는 ID입니다.");
        }
        
        else{
            alert(msg);
        }
      }
      if(new URL(location.href).searchParams.get('id')){
        const msg= new URL(location.href).searchParams.get('id');
        alert(`등록한 소화기의 id는 ${msg}입니다.`)
      }
    };
   

  </script>
    </body>
</html>