<%- include('../partials/header') %>
<div class="container" id="info">
    <h1>소화기점검 시스템[가제]</h1>
    <p>This is a brief introduction to our website. You can write about your company, services, products, or anything else you want to share with visitors.</p>
    <p>qwertyuiop asd fghjk lz xccccvnbmnb</p>
</div>
<%- include('../partials/footer')%>
