<!DOCTYPE html>
<html>
<head>
    <title>Fire-Extinguisher-Management</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-core.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/users/login.css">
</head>
<script type="text/javascript">
    window.history.forward();
    function noBack(){window.history.forward();} // 이 페이지로의 뒤로가기 차단
</script>
   
    <style>
        #profile-signup {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            cursor: pointer;
        }    

        #profile-label-signup {
            cursor: pointer;
        }

        #profile-signup + #profile-label-signup {
            font-size: 1.25em;
            font-weight: 700;
            color: white;
            background-color: black;
            display: inline-block;
        }

        #profile-signup:focus + #profile-label-signup,
        #profile-signup + #profile-label-signup:hover {
            background: red;
        }
    </style>
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
    <div id="back">
        <canvas id="canvas" class="canvas-back"></canvas>
        <div class="backRight">    
        </div>
        <div class="backLeft">
        </div>
      </div>
      
      <div id="slideBox">
        <div class="topLayer">
          <div class="left">
            <div class="content">
              <h2>Sign Up</h2>
              <form id="form-signup" method="POST" action="/users/join" >
                <div class="form-element form-stack">
                  <label for="email" class="form-label">Email</label>
                  <input id="email" type="email" name="email">
                </div>
                <div class="form-element form-stack">
                  <label for="nick" class="form-label">ID</label>
                  <input id="nick" type="text" name="nick">
                </div>
                <div class="form-element form-stack">
                  <label for="password-signup" class="form-label">Password</label>
                  <input id="password-signup" type="password" name="password">
                </div>
                <div class="form-element form-submit">
                  <button id="signUp" class="signup" type="submit" name="signup">Sign up</button>
                  <button id="goLeft" class="signup off" type="button" name="login">Log In</button> 
                </div>
              </form>
            </div>
          </div>
          <div class="right">
            <div class="content">
              <h2>Login</h2>
              <form id="form-login" method="POST" action="/users/login">
                <div class="form-element form-stack">
                  <label for="username-login" class="form-label">ID</label>
                  <input id="username-login" type="text" name="nick">
                </div>
                <div class="form-element form-stack">
                  <label for="password-login" class="form-label">Password</label>
                  <input id="password-login" type="password" name="password">
                </div>
                <div class="form-element form-submit">
                  <button id="logIn" class="login" type="submit" name="login">Log In</button>
                  <button id="goRight" class="login off" type="button" name="signup">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script src="/scripts/login.js"></script>
<%- include('../partials/footer') %>