<div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="true" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">#소화기 <span class="badge rounded-pill bg-success">점검완료</span> </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="card" style="width: 18rem;">
        <img src="/test.jpg" id="image" class="card-img-top" alt="/test.jpg">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <h5>습도</h5>
    <hr>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" id="humidity" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <hr>
    <h5>온도</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" id="temp" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="-30" aria-valuemax="60"></div>
    </div>
    <hr>
    <h5>압력</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" id="press" role="progressbar" aria-label="Info striped example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <hr>
    <span class="badge rounded-pill bg-success">예약완료</span>
    <span class="badge rounded-pill bg-primary">예약취소</span>
    <span class="badge rounded-pill bg-primary">점검완료</span>
    <button type="button" class="btn btn-success">예약</button>
    <button type="button" class="btn btn-warning">예약취소</button>
  </div>
</div>

<!-- offcanvas사용하기위해서는 bootstrap 5버전이상필요 -->